HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# dependencies
node_modules/

# production build
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# env & secrets
.env
.env.*.local

# editor & OS
.DS_Store
.vscode/
.idea/

# testing / coverage / caches
coverage/
.temp/
.tmp/
*.tsbuildinfo

# vite
*.local

# lockfile（注意：三选一提交，其他忽略）
# 如果你用 npm，请删除下面两行；如果用 pnpm/yarn，则保留对应一行并提交那个锁文件
# yarn.lock
# pnpm-lock.yaml


